.page-container {
  display: flex;
  flex-direction: column;
}

.weather {
  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  &-icon {
    width: 100px;
    height: 100px;
  }
  &-text {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    &-row {
      display: flex;
      justify-content: center;
    }
  }
}

.sliders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.location-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 28px;
}

.geo-button {
  margin-left: 5%;
  margin-right: 5%;
}
