.page-container {
  display: flex;
  flex-direction: column;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
}

.weather {
  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  &-icon {
    width: 100px;
    height: 100px;
  }
  &-text {
    font-size: 28px;
  }
}

.sliders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.location-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 28px;
}
